<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056626580920-95cqaguanbeh53acbfs0i7kr0iokqv75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056626580920-95cqaguanbeh53acbfs0i7kr0iokqv75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056626580920-gb59mmuhnqk0l2q0ruagk42l01hibakj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJjPisPnJYD4ujQVtxtonWM4Cmq4NGSvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1056626580920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VenueViewer</string>
	<key>PROJECT_ID</key>
	<string>venueviewer-93298</string>
	<key>STORAGE_BUCKET</key>
	<string>venueviewer-93298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056626580920:ios:9e48306b2b3d9ba0a7834d</string>
	<key>DATABASE_URL</key>
	<string>https://venueviewer-93298.firebaseio.com</string>
</dict>
</plist>